@page "/auth/logout"
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILocalStorageService LocalStorage

<h3>Cikis Yapiliyor...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await LocalStorage.RemoveItemAsync("user-token");

        await AuthenticationStateProvider.GetAuthenticationStateAsync();

        Navigation.NavigateTo("/");
    }
}
