@page "/"
@inject NavigationManager Navigation
@inject IToastService ToastService

<h1>Hello, world!</h1>

Welcome to your new app.

<button class="btn btn-success" @onclick="GoToWeatherPage">Go to Weather Page</button>

<button class="btn btn-danger" @onclick="HandleDangerClick">Show Toaster</button>

@code
{
    private void GoToWeatherPage()
    {
        Navigation.NavigateTo("/weather");
    }

    private void HandleDangerClick()
    {
        ToastService.ShowSuccess("MAUI HAYAT KURTARIR!");
    }
}
