@page "/counter"
@using YA.BlazorWasmStarter.Components

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<MyButton></MyButton>

@code {
    private int currentCount = 0;

    // [currentCount,setCurrentCount] = useState()

    private void IncrementCount()
    {
        currentCount++;

        // setCurrentCount(currentCount + 1);
    }
}
