<h3>PremadeComponents</h3>
<button class="btn btn-primary btn-secondary btn-accent btn-neutral btn-error btn-success btn-danger btn-info btn-warning btn-ghost btn-link btn-outline"></button>

@code {

}
