@page "/"
@using PasswordStorageApp.Domain.Dtos
@using PasswordStorageApp.Domain.Models
@inject HttpClient HttpClient
@inject DialogService DialogService
@inject NotificationService NotificationService

<PageTitle>Home</PageTitle>


<h2>Orta yas krizi ya java yazacaktim ya da Porsche GT2 alacaktim. Para yetmedi Java yazdim. - Fatih Deniz, Alper Tunga, Ahmet Hakan Ozturk</h2>



@code
{
   
}
