<div class="dropdown dropdown-end mr-4">
    <label tabindex="0" class="btn btn-ghost btn-circle">
        <svg @onclick="ToggleDropdown" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 5h12M9 3v12M21 9v6m-2-2a4 4 0 00-8 0v4H3V9a2 2 0 012-2h6a2 2 0 012 2v4h-1m2 0h1" />
        </svg>
    </label>
    @if (isDropdownOpen)
    {
        <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-40">
            <li><a @* @onclick="ChangeLanguage('en')" *@>English</a></li>
            <li><a @* @onclick="ChangeLanguage('tr')" *@>Türkçe</a></li>
            <li><a @* @onclick="ChangeLanguage('fr')" *@>Français</a></li>
        </ul>
    }
</div>

@code {
    private bool isDropdownOpen = false;

    private void ToggleDropdown()
    {
        isDropdownOpen = !isDropdownOpen;
    }
}
