@using ChatGPTClone.WasmClient.Services
@inject ThemeService ThemeService
@inject NavigationManager Navigation

<div class="dropdown dropdown-end">
    <button @onclick="ToggleDropdown" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full bg-primary/10">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 m-2" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
            </svg>
        </div>
    </button>
    @if (isDropdownOpen)
    {
        <ul tabindex="0" class="absolute right-0 mt-2 dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
            <li>
                <label class="flex cursor-pointer gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">

                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
                    </svg>
                    <input type="checkbox" class="toggle" checked="@(ThemeService.CurrentTheme == "dark")"
                        @onchange="ToggleTheme" />
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
                    </svg>
                </label>
            </li>
            <li>
                <button @onclick="Logout">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
                    </svg>
                    Çıkış Yap
                </button>
            </li>
        </ul>
    }
</div>
@code {
    private bool isDropdownOpen = false;

    private void ToggleDropdown()
    {
        isDropdownOpen = !isDropdownOpen;
    }

    private async Task ToggleTheme(ChangeEventArgs e)
    {
        var theme = ThemeService.CurrentTheme == "light" ? "dark" : "light";

        await ThemeService.SetThemeAsync(theme);
    }

    private void Logout()
    {
        Navigation.NavigateTo("/login");
    }
}